.btn{
    border-radius: 0rem !important;
    line-height: 4 !important;
    border: 4px;
}

.App {
  text-align: center;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.gameName{
    padding: 0;
    border: none;
    background: none;
    text-decoration: underline;
    cursor: pointer;
}

.buttonDownload {
	display: inline-block;
	position: relative;
	padding: 15px 22px;
	border-radius: 90px;
	border: 1px solid white;
	background-color: #1991da;
	cursor: pointer;

	color: white !important;
  
	font-family: sans-serif;
	text-decoration: none;
	font-size: 0.9em;
	text-align: center;
}

.buttonDownload:hover {
	background-color: #333;
    border: 1px solid white;
	color: white !important;
}


.buttonDownload:before, .buttonDownload:after {
	content: ' ';
	display: block;
	position: absolute;
	left: 15px;
	top: 52%;
}

.buttonDownload:before {
	width: 14px;
	height: 5px;
	border-style: solid;
	border-width: 0 2px 2px;
}

.buttonDownload:after {
	width: 0;
	height: 0;
	margin-left: 3px;
	margin-top: -7px;
  
	border-style: solid;
	border-width: 4px 4px 0 4px;
	border-color: transparent;
	border-top-color: inherit;


	animation: downloadArrow 2s linear infinite;
	animation-play-state: paused;
}

@keyframes downloadArrow {
	0% {
		margin-top: -7px;
		opacity: 1;
	}
	
	0.001% {
		margin-top: -15px;
		opacity: 0;
	}
	
	50% {
		opacity: 1;
	}
	
	100% {
		margin-top: 0;
		opacity: 0;
	}
}


.generate {
	display: inline-block;
	position: relative;

	color: white !important;

	font-family: sans-serif;
	text-decoration: none;
	font-size: 0.9em;
	text-align: center;

    background-color: #1991da;
    border: none;
    padding: 10px 10px;
    text-align: center;
    margin-bottom: 5px;
    cursor: pointer;
}

.generate:hover {
	background-color: #333;
	color: white !important;
}
.content{
	height:500px;
	color: #000;
	font-size: 25px;
}
#wrapper{
    position:relative;
    height:100%;
}

.profile-main-loader{
    left: 50% !important;
    margin-left:-100px;
    position: fixed !important;
    top: 50% !important;
    margin-top: -100px;
    width: 45px;
    z-index: 9000 !important;
}

.profile-main-loader .loader {
  position: relative;
  margin: 0px auto;
  width: 200px;
  height:200px;
}
.profile-main-loader .loader:before {
  content: '';
  display: block;
  padding-top: 100%;
}

.circular-loader {
  -webkit-animation: rotate 2s linear infinite;
          animation: rotate 2s linear infinite;
  height: 100%;
  -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
          transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
}

.loader-path {
  stroke-dasharray: 150,200;
  stroke-dashoffset: -10;
  -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
          animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124;
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124;
  }
}
@-webkit-keyframes color {
  0% {
    stroke: #70c542;
  }
  40% {
    stroke: #70c542;
  }
  66% {
    stroke: #70c542;
  }
  80%, 90% {
    stroke: #70c542;
  }
}
@keyframes color {
  0% {
    stroke: #70c542;
  }
  40% {
    stroke: #70c542;
  }
  66% {
    stroke: #70c542;
  }
  80%, 90% {
    stroke: #70c542;
  }
}
